h1{
    color: black;
    text-align: center;
}

.progress-tracker {
    margin : 20px 0;
    text-align: center;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color:rgba(241, 51, 86, 0.209);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}

.progress {
    height: 100%;
    background-color:  rgb(241, 51, 86);
    transition: width 0.3s ease;
}

.body {
    background-image: url(https://www.shutterstock.com/image-photo/back-school-concept-top-view-260nw-2180728207.jpg);
    background-size: cover;
    background-position: center;   /* add this */
    display: flex;
    justify-content: center;
    min-height: 100vh;   /* instead */
    background-repeat: no-repeat;
    background-attachment: fixed;
   
   
   
    
}

.body1 {
    padding-top: 80px;
    width: 56%;
   
    text-align: center;
    
  
   
    
}

.parent {
   background-color: rgb(249, 188, 198);
   padding-top: 25px;
   padding-bottom: 25px;
   text-align: center;
   width: 100%;
   display: flex;
   justify-content: center;   /* center horizontally */
   align-items: center;
   gap: 1%;

   
   border-radius: 30px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 10;
}

li {
  margin-bottom: 12px;     /* add space between tasks */
}


.sanju {

   background-color: rgba(249, 176, 189, 0.643);
   padding-top: 10px;
   padding-bottom: 10px;
   text-align: center;
   width: 100%;
   display: flex;
   justify-content: center;   /* center horizontally */
   align-items: center;
   gap: 1%;

   
   border-radius: 30px;

}


.min{
    background-color: rgba(255, 110, 134, 0.664);
    padding : 10px 30px 10px 30px;
    
    font: 1.5em sans-serif;
}

.t {
    padding : 5px 30px 5px 30px;
    font-size: medium;
}

.tt {
    padding : 5px 2px 5px 2px;
    font-size: medium;
}

.ttt {
    padding : 5px 4px 5px 4px;
    font-size: medium;
}

.j{
    font-size: 45px;   /* bigger */
  font-weight: bold;
}

